<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta id="viewport" name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <title>财务平台-修改密码</title>
        <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.css" th:href="@{../bootstrap/css/bootstrap.css}">
		<link rel="stylesheet" type="text/css" href="bootstrap/bootstrap-datepicker/bootstrap-datetimepicker.css" th:href="@{../bootstrap/bootstrap-datepicker/bootstrap-datetimepicker.css}">
        <link rel="stylesheet" type="text/css" href="css/style.css" th:href="@{../css/style.css}">
        <link rel="stylesheet" type="text/css" href="css/image.css" th:href="@{../css/image.css}">
        <link rel="stylesheet" type="text/css" href="css/menu.css" th:href="@{../css/menu.css}">
        <script type="text/javascript" src="js/jquery.min.js" th:src="@{../js/jquery.min.js}"></script>
        <script type="text/javascript" src="bootstrap/js/bootstrap.min.js" th:src="@{../bootstrap/js/bootstrap.min.js}"></script>
        <script type="text/javascript" src="js/jquery.scrollUp.min.js" th:src="@{../js/jquery.scrollUp.min.js}"></script>
		<script type="text/javascript" src="bootstrap/bootstrap-datepicker/bootstrap-datetimepicker.js" th:src="@{../bootstrap/bootstrap-datepicker/bootstrap-datetimepicker.js}"></script>
		<script type="text/javascript" src="bootstrap/bootstrap-datepicker/bootstrap-datetimepicker.zh-CN.js" th:src="@{../bootstrap/bootstrap-datepicker/bootstrap-datetimepicker.zh-CN.js}"></script>
        <script type="text/javascript" src="js/jquery.validate.js" th:src="@{../js/jquery.validate.js}"></script>
        <script type="text/javascript" src="js/common.js" th:src="@{../js/common.js}"></script>
        <script type="text/javascript" src="js/highcharts/highcharts.js" th:src="@{../js/highcharts/highcharts.js}"></script>
         <!--[if lt IE 9]><script type="text/javascript" src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
        <script type="text/javascript" src="js/jquery.mergecell.js" th:src="@{../js/jquery.mergecell.js}"></script>
        <style type="text/css">
            .container{width:100% !important;}/*设置页面宽度为100%*/
            .navbar .brand{font-size:12px;}
            .userinfo{margin-left:0 !important;}/**由于导航栏目较多,临时加的,去掉边距*/
            .navbar-inverse .navbar-inner{padding-right:0 !important;}/**由于导航栏目较多,临时加的,去掉边距*/
            .navbar .nav > li > a{ padding:10px 12px 10px;}/**由于导航栏目较多,临时加的,减小导航条目之间的距离*/
        </style>
    </head>
    <body data-spy="scroll" data-target=".subnav" data-offset="50">
<div class="navbar navbar-inverse" id="top" style="margin-bottom: 0px;">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" title="数字化运营支撑&amp;集团账目核对" href="javascript:void(0);">财务账目管理系统</a>
            <ul class="nav">
                <li style="position:relative" class="active">
                    <a href="#" th:href="@{/index}">首页</a>
                </li>
            </ul>
			<div class="name_tit"><span th:text="${session._user_login_}?${session._user_login_.groupTitle}:''"></span></div>
            <div class="userinfo">
                <ul class="nav">
                    <li>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-user icon-white"></i>&nbsp;<span th:text="${session._user_login_}?${session._user_login_.realName}:'liping'">admin</span>&nbsp;<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#" th:href="@{/user/changePassword}">修改密码</a></li>
                            <li><a href="javascript:logout();" >退出</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<script>
    /*$(function(){
        var box = $("#top");
        $.ajax({
            type:"post",
            url : "../announcement/announcement.shtml",
            async:false,
            dataType:"json",
            success:function(json){
                if(json!=null && json.length > 0){
                    var html ="",start = "<div class='container'><div class='content'>",end = "</div></div>";
                    for(var i=0 ;i<json.length; i++){
                        var htmlText = "<marquee direction='left' onMouseOut='this.start()' onMouseOver='this.stop()'>"+
                                "<strong><span style='color:red;'>公告声明：</span></strong>";
                        htmlText += "<a target='_blank' style='color:#000' href='../announcement/view.shtml?id="+ json[i]['id'] +"'>"+json[i]['title']+"</a>";
                        htmlText += "</marquee>";
                        html += htmlText;
                    }
                    box.append(start+html+end);
                }
            }
        });
    });*/

</script>
<div class="container">
		<div class="content">
		 <div class="form-container">
			<h1>修改密码</h1>
		     <div id="info" class="alert alert-info fade in">带 * 号的为必填项</div>
				<form class="well form-horizontal" method="post" id="yw0" novalidate="novalidate">
					<fieldset>
						<input type="hidden" id="uname" name="uname" value="wangkun">
						
						
						<div class="control-group error">
							 <label for="oldPassword" class="control-label required" aria-required="true">*旧密码:</label>
							<div class="controls">
								<input type="hidden">
								<input class="input-medium" name="oldPassword" id="oldPassword" type="password" autocomplete="off" aria-required="true" aria-describedby="oldPassword-error">				
						     	<span class="help-inline"><span id="oldPassword-error" class="help-block">请输入旧密码</span></span>
							</div>
						</div>
						<div class="control-group error">
							 <label for="newPassword" class="control-label required" aria-required="true">*新密码:</label>
							<div class="controls">
								<input type="hidden">
								<input class="input-medium" name="newPassword" id="newPassword" type="password" autocomplete="off" pass_word="true" aria-required="true" aria-describedby="newPassword-error" minlength="6" maxlength="12">				
						     	<span class="help-inline"><span id="newPassword-error" class="help-block">请输入新密码</span></span>
							</div>
						</div>
						<div class="control-group error">
							<label for="confirmPassword" class="control-label required" aria-required="true">*确认密码:</label>
							<div class="controls">
								<input type="hidden">
								<input class="input-medium" name="confirmPassword" id="confirmPassword" type="password" autocomplete="off" pass_word="true" aria-required="true" aria-describedby="confirmPassword-error" minlength="6" maxlength="12">				
						     	<span class="help-inline"><span id="confirmPassword-error" class="help-block">请输入确认密码</span></span>
							</div>
						</div>
						<div class="control-group">
							<div class="controls">

								<input class="btn btn-success" type="submit" value="提交" id="submit">		
							</div>
						</div>
					</fieldset>
				</form>
				<script type="text/javascript" th:inline="javascript">
					function logout()
					{
						if(!confirm("确定要退出系统？"))
						{
							return;
						}	
						var url = [[@{/logout}]];
						$.ajax({
							url:url,
							type:'GET',
							cache: false,
							success:function(){
								window.location = [[@{/index}]];
							}
						})
					}
					$(function(){
						 
						var MyValidator = function() {  
						    var handleSubmit = function() {  
						        $('.form-horizontal').validate({
						        	onkeyup:false,  
						            errorElement : 'span',  
						            errorClass : 'help-block',  
						            focusInvalid : false,  
						            rules : {  
						                oldPassword : {  
						                    required : true  
						                }, 
						                newPassword : {  
						                    required : true 
						                }, 
						                confirmPassword : {  
						                    required : true ,
						                    equalTo:'#newPassword'
						                }
						            },  
						            messages : {  
						                oldPassword : {  
						                    required : "请输入旧密码" 
						                }, 
						                newPassword : {  
						                    required : "请输入新密码" 
						                }, 
						                confirmPassword : {  
						                    required : "请输入确认密码" ,
						                    equalTo:"两次输入的密码不一致" 
						                }
						            },  
						  
						            highlight : function(element) {  
						                $(element).closest('.control-group').addClass('error');  
						            },  
						  
						            success : function(label) {  
						                label.closest('.control-group').removeClass('error');  
						                label.remove();  
						            },  
						  
						            errorPlacement : function(error, element) {  
						                element.next().html(error);  
						            },  
						  
						            submitHandler : function(form) {  
						            	console.log("进来没")
						            	var data = {
						            			"id":[[${session._user_login_.id}]],
												"originPassword": $("#oldPassword").val(),
												"password":$("#newPassword").val(),
												"password2":$("#confirmPassword").val()
											};
						                $.ajax({
												cache: true,
												contentType: "application/json",
												type: "POST",
												url:"../user/changePassword",
												data:JSON.stringify(data),
												async: false,
											    error: function(data) {
											    	console.log("修改密码失败！");
											    	$("#info").attr("class","alert alert-danger fade in").html("修改密码失败！");
											    },
											    success: function(data) {
											    	if(data.code=="OK"){
											    		$("#info").attr("class","alert alert-success fade in").html("修改密码成功！");
											    	}else{
											    		$("#info").attr("class","alert alert-danger fade in").html(data.message);
											    	}
											    }
											});
						            }  
						        });  
						  
						        $('.form-horizontal input').keypress(function(e) {  
						            if (e.which == 13) {  
						                if ($('.form-horizontal').validate().form()) {  
						                    $('.form-horizontal').submit();  
						                }  
						                return false;  
						            }  
						        });  
						    }  
						    return {  
						        init : function() {  
						            handleSubmit();  
						        }  
						    };  
						  
						}();
						
						MyValidator.init();   
						
						$("#submit").click(function(event){
							event.preventDefault();
							$("#yw0").submit();
						}); 
					});
				</script>
										
			</div>
		</div>
	</div>
<div class="container">
	<div class="content">
	<hr>
	  <footer class="footer">
		  <p>Copyright © 星河互联集团有限公司</p>
	  </footer>
	</div>
</div>
 
<a id="scrollUp" href="#top" style="display: none; position: fixed; z-index: 2147483647;"></a><div id="scrollUp-active" style="position: absolute; top: 300px; width: 100%; border-top: 1px dotted rgb(0, 255, 255); z-index: 2147483647;"></div></body></html>
