<form class="well form-horizontal" id="changeGroup-form">
    <fieldset>
        <div class="list_all">
            <div class="list_one">
                <ul class="list_one_gt">

                </ul>
            </div>
            <div class="list_two">
                <div class="list_two_d list_two_gt">选择&gt;&gt;</div>
                <div class="list_two_d list_two_lt">&lt;&lt;移除</div>
            </div>
            <div class="list_one">
                <ul class="list_one_lt">

                </ul>
            </div>
        </div>
        <div class="list_button">
            <div class="controls">
                <input class="btn btn-success" type="button" value="保存" id="save-groupChange-btn">
            </div>
        </div>
    </fieldset>
</form>
<script type="text/javascript" th:inline="javascript">
    $(function () {
        var groupList = null;
        var userGroupList = null;

        // 右侧数据
        var _url = /*[[@{userGroup/get/}]]+[[${session._user_company_id_}]]*/;
        $.ajax({
            type : 'POST',
            url	: _url,
            success : function(data){
                if(data.code == 'OK')
                {
                    var dataIdList=new Array();
                    $(".list_one_lt").html();
                    userGroupList = data.values;
                    for (var i=0; i<userGroupList.length; i++)
                    {
                        $(".list_one_lt").append('<li data_id="'+userGroupList[i].groupId+'">'+userGroupList[i].companyGroup.title+'</li>')
                        dataIdList.push(userGroupList[i].groupId);
                    }
                    //左侧数据
                    var url = /*[[@{companyGroup/getAll}]]*/;
                    $.ajax({
                        type : 'POST',
                        url	: url,
                        success : function(data){
                            if(data.code == 'OK')
                            {
                                $(".list_one_gt").html();
                                groupList = data.values;
                                for (var i=0; i<groupList.length; i++)
                                {
                                    if ($.inArray(groupList[i].id,dataIdList) == -1)
                                    {
                                        $(".list_one_gt").append('<li data_id="'+groupList[i].id+'">'+groupList[i].title+'</li>')
                                    }

                                }
                            }
                        }
                    });



                }
            }
        });

        //保存
        $("#save-groupChange-btn").click(function(event){
            event.preventDefault();

            var url = /*[[@{user/changeGroup}]]*/;
            var li = $(".list_one_lt").find("li");
            var len = $(li).length;
            var ids = "";
            $(li).each(function (i,dom) {
                var id = $(this).attr("data_id");
                if ( id )
                {
                    ids = ids + id + (i<len-1 ? ',':'');
                }
            });
            var data ={'idStr':ids};
            $.ajax({
                type: "POST",
                url:url,
                //contentType:'application/json;charset=UTF-8',
                data: "idStr=" + ids,
                success:function(data){
                    if(data.code == 'OK')
                    {
                        alert('保存成功');
                        $(".modal-close").click();
                    }
                    else
                    {
                        alert(data.message);
                    }
                }
            })
        });

        $("#changeGroup-form").delegate(".list_one li","click",function(){
            $(this).toggleClass("list_one_on");
        });
        //选择
        $("#changeGroup-form").delegate(".list_two_gt","click",function(){
            var list_array=[];
            $('.list_one_gt .list_one_on').each(function(){
                var list_object={};
                list_object.id=$(this).attr('data_id');
                list_object.name=$(this).html();
                list_array.push(list_object);
            });
            for(var i=0; i<list_array.length; i++){
                $('.list_one_lt [data_id="'+list_array[i].id+'"]').remove();
                $(".list_one_lt").append('<li data_id="'+list_array[i].id+'">'+list_array[i].name+'</li>');
            }
            $(".list_one_gt .list_one_on").remove();

        });
        //移除
        $("#changeGroup-form").delegate(".list_two_lt","click",function(){

            var list_array=[];
            $('.list_one_lt .list_one_on').each(function(){
                var list_object={};
                list_object.id=$(this).attr('data_id');
                list_object.name=$(this).html();
                list_array.push(list_object);
            });
            for(var i=0; i<list_array.length; i++){
                $('.list_one_gt [data_id="'+list_array[i].id+'"]').remove();
                $(".list_one_gt").append('<li data_id="'+list_array[i].id+'">'+list_array[i].name+'</li>');
            }
            $(".list_one_lt .list_one_on").remove();

        });
    });
</script>