<form class="well form-horizontal" action="#" id="companyGroup-form">
    <fieldset>
        <div class="control-group">
            <label for="title" class="control-label required">*往来分组名称:</label>
            <div class="controls">
                <input class="input-medium" id="title" name="title" type="text"/>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <input class="btn btn-success" type="submit" value="保存" id="save-company-btn">
            </div>
        </div>
    </fieldset>
</form>
<script type="text/javascript" th:inline="javascript">
    $("#companyGroup-form").validate({
        onkeyup:false,
        errorElement : 'span',
        errorClass : 'help-inline',
        focusInvalid : false,
        debug:true,
        rules: {
            title: {
                required: true,
                maxlength:30
            }
        }
    });
    $("#save-company-btn").click(function(event) {
        event.preventDefault();
        if($("#companyGroup-form").validate().form())
        {
            var url = /*[[@{companyGroup/add}]]*/;
            var data = JSON.stringify($("#companyGroup-form").serializeJson());
            $.ajax({
                type: "POST",
                url: url,
                contentType: 'application/json;charset=UTF-8',
                data: data,
                success: function (data) {
                    if (data.code == 'OK') {
                        alert('保存成功');
                        $(".modal-close").click();
                        $("#companyGroup-table").refreshTable();
                    }
                    else {
                        alert(data.message);
                    }
                }
            });
       }
    });
</script>