<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<meta id="viewport" name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title>财务账目管理系统V1.0</title>
	<link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="bootstrap/bootstrap-datepicker/bootstrap-datetimepicker.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="css/image.css">
	<link rel="stylesheet" type="text/css" href="css/menu.css">
	<link rel="stylesheet" type="text/css" href="js/modal_files/common.css">
	<link rel="stylesheet" type="text/css" href="js/modal_files/modal.css">
	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/jquery.validate.js"></script>
	<script type="text/javascript" src="js/modal_files/modal.js"></script>
	<script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/jquery.scrollUp.min.js"></script>
	<script type="text/javascript" src="bootstrap/bootstrap-datepicker/bootstrap-datetimepicker.js"></script>
	<script type="text/javascript" src="bootstrap/bootstrap-datepicker/bootstrap-datetimepicker.zh-CN.js"></script>
	<script type="text/javascript" src="js/common.js"></script>
	<script type="text/javascript" src="js/highcharts/highcharts.js"></script>
	 <!--[if lt IE 9]><script type="text/javascript" src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
	<script type="text/javascript" src="js/jquery.mergecell.js"></script>
<style type="text/css">
	.container{width:100% !important;}/*设置页面宽度为100%*/
	.navbar .brand{font-size:12px;}  
	.userinfo{margin-left:0 !important;}/**由于导航栏目较多,临时加的,去掉边距*/
	.navbar-inverse .navbar-inner{padding-right:0 !important;}/**由于导航栏目较多,临时加的,去掉边距*/
	.navbar .nav > li > a{ padding:10px 12px 10px;}/**由于导航栏目较多,临时加的,减小导航条目之间的距离*/
</style>
</head>
<body data-spy="scroll" data-target=".subnav" data-offset="50">
<div id="header"></div>
<div class="container">
	<div class="content" id="main-content">
		
	</div> <!--container 结束-->
	<div class="container">
		<div class="content">
		<hr>
		  <footer class="footer">
			  <p>Copyright © 星河互联集团有限公司</p>
		  </footer>
		</div>
	</div>
 
</div>
<!-- 上传插件 -->
<script type="text/javascript" src="js/jquery.ui.widget.js"></script>
<script type="text/javascript" src="js/jquery.fileupload.js"></script>
</body>
</html>