<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
	<link rel="shortcut icon" href="./img/favicon.ico" />
	<link rel="stylesheet" type="text/css" href="./css/common.css">
	<link rel="stylesheet" type="text/css" href="./css/index.css">
</head>
<body>
<header>
	<div class='fl head-fl'>创投大脑后台管理系统<a href="index.html">内容编辑</a></div>
	<div class='fr head-fr'><span class='user-name'></span>您好，<span th:text="${session.user_login}?${session.user_login.login}:'管理员'">admin</span></div>
</header>
<div class='login-content'>
	<div class='login-welcome clearfix'>
		<div class='fl'><img src='./img/welcome.png'/></div>
		<div class='fr'>
			<p>您好，管理员！</p>
			<p>欢迎登录创投大脑后台管理系统</p>
		</div>
		
	</div>
</div>






</body>
<script type="text/javascript" th:inline="javascript">
	var loginUser = /*[[${session.user_login}]]*/;
	function logout()
	{
		if(!confirm("确定要退出系统？"))
		{
			return;
		}
		var url = [[@{/logout}]];
		$.ajax({
			url:url,
			type:'GET',
			cache: false,
			success:function(){
				window.location = [[@{/index}]];
			}
		})
	}

</script>

</html>